.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 10px;
}

.App aside{
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
}

.App main{
  flex: 1;
  height: 100%;
  margin-left: 10px;
  border: 1px solid #eee;
  border-right: none;
  border-bottom: none;
  overflow: auto;
  overflow-x: hidden;
}